body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  overflow-x: hidden; 
  overflow: inherit;
}

.App {
  min-height: 100vh; 
  overflow-x: hidden; 
}

.section {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: color 1s ease;
}

.white-section {
  color: black;
}

.black-section {
  color: white;
}
